<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imaginary Cage | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Styles/layout.css" rel="stylesheet" />
    <link href="~/Content/Styles/fontawesome-4.5.0.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sanchez|Cookie|Dancing+Script" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/Styles/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/framework.css" rel="stylesheet" />
    <link href="~/Content/Styles/accordion.css" rel="stylesheet" />
    <link href="~/Content/Styles/gallery.css" rel="stylesheet" />
    <link href="~/Content/Styles/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/Styles/resortLocals.css" rel="stylesheet" />
</head>
<body id="top">
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <div class="fl_left">
                <ul class="nospace inline pushright">
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }

                </ul>
            </div>
            <div class="fl_right">
                <ul class="nospace inline pushright">
                    <li>
                        <i class="glyphicon glyphicon-phone">+1(618)-593-1175</i>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-envelope">info@domain.com</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper row2">
        <nav id="mainav" class="hoc clear">
            <ul class="clear" id="title" style="font-size:20px">
                <li>@Html.ActionLink("Imaginary Cage", "Index", "Home", null, new { @class = "bold" })</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Who We Are", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Enroll Your Pet", "Create", "Pets")</li>
                <li>@Html.ActionLink("Resorts", "Index", "ResortLocations")</li>

                @if (Request.IsAuthenticated)
                {

                    <li>
                        <a id="title">My Account</a>
                        <ul>
                            <li>@Html.ActionLink("List of My Pets", "Index", "Pets")</li>
                            <li>@Html.ActionLink("Add a Pet", "Create", "Pets")</li>
                            <li>@Html.ActionLink("View Reservations", "Index", "Reservations")</li>
                            <li>@Html.ActionLink("Make a Reservation", "Create", "Reservations")</li>
                            <li>@Html.ActionLink("My Profile", "Index", "Manage")</li>
                        </ul>
                    </li>
                }
            </ul>


        </nav>
    </div>

    @RenderBody()
    <hr />

    <footer id="footer" class="hoc clear">
        <div class="one_quarter first">
            <h6 class="title">Contact Info</h6>
            <ul class="nospace linklist contact">
                <li>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <address>Street Name &amp; Number, Town, State, Zip</address>
                </li>
                <li>
                    <i class="glyphicon glyphicon-phone"></i>
                    +00 (123)-456-7890<br />
                    +1 (618)-593-1175
                </li>
                <li>
                    <i class="glyphicon glyphicon-envelope"></i>
                    info@domain.com
                </li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">Page Links</h6>
            <ul class="nospace linklist">
                <li>
                    @Html.ActionLink("About Imaginary Cage", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Contact Us", "Contact", "Home")
                </li>
                <li>
                    @Html.ActionLink("Enrollment", "Create", "Pets")
                </li>
                <li>
                    @Html.ActionLink("Find Our Resorts", "Index", "ResortLocations")
                </li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">Articles</h6>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <h2 class="nospace font-x1">
                            <a>Exotic Pet List</a>
                        </h2>
                        <time class="font-xs block btmspace-10" datetime="12-15-2017">
                            Friday, December 15<sup>th</sup>, 2017
                        </time>
                        <p class="nospace">Check out this list of Exotix Pets that have found homes!</p>
                    </article>
                </li>
                <li>
                    <article>
                        <h2 class="nospace font-x1">
                            <a>Mythical Bestiary</a>
                        </h2>
                        <time class="font-xs block btmspace-10" datetime="12-17-2017">
                            Sunday, December 17<sup>th</sup>, 2017
                        </time>
                        <p class="nospace">Check out this bestiary to most of the mythical beasts we take care of!</p>
                    </article>
                </li>
            </ul>
        </div>
    </footer>

    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <p class="fl_left">
                Copyright &copy; @DateTime.Now.Year - All Rights Reserved -
                <a>Imaginary Cage</a>
            </p>
            <p class="fl_right">
                Template by
                <a target="_blank" href="http://www.os-templates.com/" title="Free Webstite Templates">OS Templates</a>
            </p>
        </div>
    </div>
    <a if="backtotop" href="#top" class="visible">
        <i class="glyphicon glyphicon-chevron-up"></i>
    </a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="~/Scripts/Template Scripts/jquery.min.js"></script>
    <script src="~/Scripts/Template Scripts/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/Template Scripts/jquery.backtotop.js"></script>
    <script src="~/Scripts/Template Scripts/jquery.mobilemenu.js"></script>
    <script src="~/Scripts/Template Scripts/jquery.placeholder.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/Template Scripts/accordion.js"></script>
    <script src="~/Scripts/Template Scripts/resortLocals.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/Template Scripts/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(function(){
            $("input[type=datetime]").datepicker({
                changeMonth: true,
                changeYear: true,
                format: "MM-dd-yyyy",
                //  -- could use this for format as well format: 'd-m-y' if a newer version (past 2.3.7)
                minDate: -10,
                maxDate: "+2M +20D"
            });

            //minDate: getFormattedDate(new Date())
        });
        //function getFormattedDate(date) {
        //    var day = date.getDate();
        //    var month = date.getMonth() + 1;
        //    var year = date.getYear().toString().Slice(2);
        //    return day + '-' + month + '-' + year;
        //}
    </script>



</body>
</html>
