@model IEnumerable<PetResort.DATA.Pet>

@{
    ViewBag.Title = "Your Enrolled Pets";
}

<h2 id="title" style="text-align:center; font-size:3em">Pet Enrollment</h2>
@if (Model.Count() < 1)
{
    <h2>You have no pets registered with us. Please Register your pet @Html.ActionLink("HERE", "Create", "Pets")</h2>
}

else { 
<p>
    @Html.ActionLink("Enroll Your Pet", "Create")
</p>
<div class="content">
    <div class="scrollable">
        <table>
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Name)*@
                        Name
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.PetPhoto)*@
                        Pet Photo
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.SpecialNotes)*@
                        Special Note
                    </th>
                    @if (User.IsInRole("Admin") ||(User.IsInRole("Employee")))
                {
                        <th>Owner</th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.IsActive)*@
                            Active?
                        </th>
                    }
                    <th>
                        @*@Html.DisplayNameFor(model => model.DateAdded)*@
                        Date Added
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.TypeOfAnimal)*@
                        Type of Animal
                    </th>
                    <th></th>
                </tr>
            </thead>
            @*@if (User.IsInRole("Customer")) { }*@

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="align-content: center">
                            @*@Html.DisplayFor(modelItem => item.PetPhoto)*@
                            <img src="~/Content/Images/Pets/@item.PetPhoto" class="img-rounded" style="width:100px" alt="@item.Name" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpecialNotes)
                        </td>
                        @if (User.IsInRole("Admin") || (User.IsInRole("Employee")))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.OwnerID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAdded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeOfAnimal)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.PetID }) |

                                 @Html.ActionLink("Edit", "Edit", new { id = item.PetID }) |
                                 @Html.ActionLink("Delete", "Delete", new { id = item.PetID })
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        
    </div>
</div>
}